{{#if shouldDisplay}}
    {{#if include_logo}}
        <div class="custom-search-banner">
            <div class="wrap custom-search-banner-wrap">
                < img src={{imgsrc}}  width="140" height="140" style="left: 360px; top: 115px ; position: absolute ;z-index: 15">
                {{mount-widget widget="search-widget"}}
            </div>
        </div>

    {{/if}}
    {{#if not include_logo}}
        <div class="custom-search-banner">
            <div class="wrap custom-search-banner-wrap">
                //<h1>{{theme-i18n "search_banner.headline"}}</h1>
                //<p>{{theme-i18n "search_banner.subhead"}}</p >
                //{{mount-widget widget="search-widget"}}
                display:none;
            </div>
        </div>

    {{/if}}
{{/if}}
